<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coba Deploy AI Computer Vision</title>
</head>
<body>
    <h2 style="font-family: monospace;">Punya Masalah Lidah? Cek Yuk!</h2>
    <div>
        <a href="/webcam">
            <h4>Cek dari kamera</h4>
        </a>
    </div>
    <form method="post" enctype="multipart/form-data" name="form1">
        <h4 style="font-family: monospace;">Upload Gambar Lidahmu di sini</h4>
        <div>
            <input type="file" name="file">
        </div>
        <div>
            <button type="submit" style="margin-top: 10px;">Prediksi</button>
        </div>
    </form>
</body>
</html>